@{
	ViewData["Title"] = "Developer info";
}
<div class="text-center">
	<h1>@ViewData["Title"]</h1>
	<p>Gustavo Araújo Gomes</p>
	<p><strong>Email:</strong> gustavo020sp@gmail.com</p>
	<p><strong>Phone:</strong> +55(11)999559544</p>
	<p><strong>Visit my Website for more information:</strong> <a class="text-primary link-primary" href="https://gustavoagomes.netlify.app/">Click Here</a></p>
</div>

