@{
	ViewData["Title"] = "Home Page";
}

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<h3>Please choose a field to work</h3>
	<p> <a class="text-primary link-primary" asp-area="" asp-controller="Departments" asp-action="Index">Departments</a></p>
	@* <p> <a class="text-primary link-primary" asp-area="" asp-controller="Home" asp-action="Privacy">Sellers</a></p>
	<p> <a class="text-primary link-primary" asp-area="" asp-controller="Home" asp-action="Privacy">Sales</a></p> *@
</div>
