@model SalesWebMvc.Models.SellerFormViewModel

@{
	ViewData["Create"] = "Create";
}

<h1>@ViewData["Create"]</h1>
<h4>Seller</h4>

<div class="row">
	<div class="col-md-4">
		<form asp-action="Create">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<div class="form-group">
				<label asp-for="seller.Name" class="control-label"></label>
				<input asp-for="seller.Name" class="form-control" />
				<span asp-validation-for="seller.Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="seller.Email" class="control-label"></label>
				<input asp-for="seller.Email" class="form-control" />
				<span asp-validation-for="seller.Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="seller.BirthDate" class="control-label"></label>
				<input asp-for="seller.BirthDate" class="form-control" />
				<span asp-validation-for="seller.BirthDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="seller.BaseSalary" class="control-label"></label>
				<input asp-for="seller.BaseSalary" class="form-control" />
				<span asp-validation-for="seller.BaseSalary" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="seller.DepartmentId" class="control-label"></label>
				<select asp-for="seller.DepartmentId" asp-items="@(new SelectList(Model.Departments,"Id",
"Name"))" class="form-control"></select>
			</div>
			<div class="form-group">
				<input type="submit" value="Create" class="btn btn-primary" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}